extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 JS Projects.

      p.lead.text-light
        | These are some projects I have worked on Java Script.
  article.grid-container.portfolio-index(style=" background-color: orange")
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell
          a(href= `project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h5.thumbnail-title #{project.project_name}

